$primary-color: #343434;
$secondary-color:#00B4D8;
$link-color: #FFF;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold":700
);

@mixin accent {
    font-weight: 400;
}


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
   }


   @mixin transition-ease{
       transition: all 0.5s ease-in-out;
   }

   @function set-text-color($color){
       @if(lightness($color) > 40%){
          @return #191919;
       } 
       @else{
           @return #FFF;
       }
   }

   @mixin media-md{
       @media screen and(min-width: 768px){
           @content;
       }
   }

   @mixin media-lg{
    @media screen and(min-width: 1024px){
        @content;
    }
}

@mixin media-xl{
    @media screen and(min-width: 1600px){
        @content;
    }
}